#main-header {
  background-color: rgb(29, 26, 24);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  top: 0;
  left: 0;
  position: static;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

#main-header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-header li {
  padding: 0 16px;
}
#main-header nav a {
  color: rgb(228, 163, 44);
  font-size: 20px;
}
#main-header nav a:hover {
  color: rgb(185, 131, 131);
}
